Language: Cpp
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 87
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AllowShortFunctionsOnASingleLine: None
BinPackArguments: 'true'
BinPackParameters: 'true'
SpacesInSquareBrackets: 'false'
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Stroustrup
SortIncludes: false